{{#each dinner_and_diners as |dinner_and_diner|}}
    <li><h3>{{dinner_and_diner.pest.name}}</h3></li>
    <li><img class="thumbnail" src={{dinner_and_diner.pest.image}}></li>
    <br/>
    <li><button data-id="{{dinner_and_diner.id}}" class="update-comments-button dropbtn"> More Info </button></li>

{{/each}}
