{{#each vegetables as |vegetable|}}



<div>
<!-- <tbody> -->
    <ul>
      <!-- <li>{{vegetable.id}}</li> -->
      <li><h3>{{vegetable.name}}</h3></li>
      <li><img src={{vegetable.image}} height="150" width="150"></li>
      <!-- <li>{{vegetable.comment}}</li> -->
    </ul>
<!-- </tbody> -->
</div>




{{/each}}
