// moves variables over from colors.scss file
@import 'colors';

// set default background-color and font for the page
body {
  background-color: $darkgreen;
  font-family: 'Walter Turncoat', cursive;
}

// increase text size to 65 pixels for h1 elements
h1 {
  font-size: 65px;
  text-align: center;
}

// set image display size to a square 150 pixels on a side
// give the image a solid, yellow border 2 pixels wide
img {
  border: 2px, solid, $yellow;
  height: 150px;
  width: 150px;
}

// items in the display class will be hidden until user logs in
.display {
  display: none;
}

// these 3 containers will be identical
// solid yellow border 1 pixel wide for border
// these 3 containers will be displayed one after another
// container height will be 500 pixels
// a margin, larger at the bottom, will be kept around the container
// if content of the container overflows, a scroll bar will become available
// width of the container will be set to 31% of the display screen size
.display-list,
.pest-list,
.your-list {
  border: 1px solid $yellow;
  display: inline-block;
  height: 500px;
  margin: 10px 10px 25px;
  overflow: scroll;
  width: 31%;
}

.dropdown {
  display: inline-block;
  position: relative;
}

// style of dropdown menu button
// color is yellow
// no border on button
// corners of button rounded
// transparent shadow on button **scss does not like rgba
// color of text is green
// cursor on buton and elements will de displayed as a pointer
// size of text will be 14 pixels high
// small amount of  margin
// padding added between button text and edge
.dropbtn {
  background-color: $yellow;
  border: 0;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, .3);
  color: $darkgreen;
  cursor: pointer;
  font-size: 14px;
  margin: 3px 0;
  padding: 5px 9px;
}

// display of dropdown-content when user mouses over menu button
.dropdown-content {
  background-color: $yellow;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  color: $darkgreen;
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

// display when mouse over dropdown content from menu button
.dropdown-content a:hover {
  background-color: $darkgreen;
  color: $yellow;
}

// Shows the dropdown menu on hover
.dropdown:hover .dropdown-content {
  display: inline-table;
}

// size and position of footer
.footer {
  bottom: 0;
  height: 60px;
  line-height: 60px;
  position: fixed;
  width: 100%;
}

// the container with the instructions class
// text centered on page
.instructions {
  color: $yellow;
  font-family: 'Walter Turncoat', cursive;
  font-size: 25px;
  margin: 2px auto 25px;
  text-align: center;
}

// removes default dots in front of list elements
.list {
  list-style: none;
}

// saving for future use
// .login-screen {
// }
// menu button will start off not being displayed until user logs in
.menu-button {
  display: none;
}

// elements with signature class will be yellow, 25 pixels high and centerd on the page
.signature {
  color: $yellow;
  font-size: 25px;
  text-align: center;
}

// setting position of table headers
.table-titles {
  margin: 0 10px;
}

// the container with the title-top class will have text in yellow Cabin Sketh font
.title-top {
  color: $yellow;
  font-family: 'Cabin Sketch', cursive;
}
