@import 'colors'; // moves variables over from colors.scss file

body {
  background-color: $darkgreen;
  font-family: 'Walter Turncoat', cursive;
  // font-family: 'Cabin Sketch', cursive;
}

.login-screen {
  // background: url('../img/theater.jpg') no-repeat;
  // background-size: cover;
  // height: 675px;
  // width: auto;
}

.menu-button {
  display: none;
}

.footer {
  bottom: 0;
  height: 60px;
  line-height: 60px;
  position: fixed;
  width: 100%;
}

.display {
  display: none;
}

.display-list {
  border: 1px solid $orange;
  display: inline-block;
  height: 500px;
  margin: 10px 10px 25px;
  overflow: scroll;
  width: 31%;
}

.table-titles {
  margin: 0 10px;
}

ul {
  list-style: none;
}

.your-list {
  border: 1px solid $orange;
  display: inline-block;
  height: 500px;
  list-style: none;
  margin: 10px 10px 25px;
  overflow: scroll;
  width: 31%;
}

.pest-list {
  border: 1px solid $orange;
  display: inline-block;
  height: 500px;
  list-style: none;
  margin: 10px 10px 25px;
  overflow: scroll;
  width: 31%;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropbtn {
  background-color: $orange;
  border: 0;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, .3);
  color: $darkgreen;
  cursor: pointer;
  font-size: 14px;
  margin: 3px 0;
  padding: 5px 9px;
}

.dropdown-content {
  background-color: $orange;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  color: $darkgreen;
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: $darkgreen;
  color: $orange;
}

// /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: inline-table;
}

// /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: $orange;
}

.list {
  list-style: none;
}

.api-buttons {
  display: none;
}

.show-buttons {
  display: none;
}

h1 {
  font-size: 65px;
  text-align: center;
}

img {
  border: 2px, solid, $orange;
  height: 150px;
  width: 150px;
}

.thumbnail {
  border: 2px, solid, $orange;
  height: 150px;
  width: 150px;
}

.instructions {
  color: $orange;
  font-family: 'Walter Turncoat', cursive;
  font-size: 25px;
  margin: 2px auto 25px;
  text-align: center;
  // text-shadow: 2px 2px $black;
}

.added {
  display: none;
  font-size: 25px;
  text-align: center;
}

.updated {
  display: none;
  font-size: 25px;
  text-align: center;
}

.deleted {
  display: none;
  font-size: 25px;
  text-align: center;
}

.logout-buttons {
  display: none;
}

.signature {
  color: $orange;
  font-size: 25px;
  text-align: center;
}

.title-top {
  color: $orange;
  font-family: 'Cabin Sketch', cursive;
  // text-shadow: 3px 3px $black;
}

button {
  margin: 10px 30px;
}
